/* Header */
.profile {
  text-align: center;
}

.profile p {
  color: #a0a0a0;
}

.profile a {
  text-decoration: none;
}

.profile a p {
  color: #bcbcbc;
}

.social_profile {
    display: flex;
    justify-content: center;
}

.social_profile button {
    margin: 10px;
    padding: 10px 40px;
    border-radius: 5px;
    border: 0px solid;
    font-weight: bold;
}

.social_profile button:nth-child(1) {
    background-color: #2196F3;
    color: #fff;
}

button i {
    margin-right: 10px;
}

/* Content */

.main {
    margin: 30px;
}

/* Footer */

.footer {
    background-color: #0d0e11;
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
}

.footer a {
    text-decoration: none;
    background-color: #474e5c;
    padding: 0px 5px;
    border-radius: 2px;
}

.footer i {
    color: #0d0e11;
    font-size: 20px;
}